.title-form{
    text-align: center;
    font-size: 55px;
    margin: 70px 0 0;
}
.container-form{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 30px auto 0;
    padding: 10px;
}
.container-form label{
    font-size: 20px;
}
.container-form input, .container-form textarea {
    padding: 10px;
    margin-bottom: 25px;
    font-size: 18px;
}
.container-form textarea {
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-form button {
    padding: 10px 15px;
    width: 200px;
    background: transparent;
    border: 1px solid rgba(17, 17, 17, 0.8);
    border-radius: 3px;
    cursor: pointer;
}