.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-width: 300px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    min-height: 200px;
    text-align: center;
}
.card h2 {
    font-size: 25px;
    margin-bottom: 10px;    
}
.card p {
    font-size: 18px;
}